main{
    height: 100%;
}

h2{
    margin: 10px;
    margin-top:0;
    padding-bottom: 10px;
    padding-top: 40px;
}

p{
    margin: 20px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

.current{
    background-color: black;
}

.future{
    background-color: #111111;
}

.life{
    background-color: #222222;
}