

.contact-widgets{
    display:flex;
    flex-direction:column;
}

figure{
    display:flex;
    align-items:center;
    margin:0 -200px;
}

figure img{
    height: 200px;
    width: 200px;
    border-radius:100px;
    z-index: 3;
    background-color:#34E337;
}

figure figcaption{
    display:flex;
    justify-content:center;
    align-items:center;
    height:125px;
    width:0px;
    margin-left: -25px;
    background-color:gray;
    z-index: 2;
}

figure figcaption:hover{
    color: #34E337;
}

/* figure.email figcaption{
    width: 600px;
}

figure.phone-number figcaption{
    width: 400px;
}

figure.github figcaption{
    width: 250px;
} */


figure figcaption a{
    font-size: 3rem;
    margin-left:25px;
    color:white;
    text-decoration: none;
    display:none;
}

figure figcaption a:hover{
    text-decoration: none;
    color:#34E337;
}
