#home-page main{
    height: 100%;
    align-items:center;
}

#introduction{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 500px;
}


#introduction img{
    height: 20vw; 
    width: 20vw; 
    border: 5px solid #34E337;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
}

#introduction .osu:hover{
   transition:.5s ease;
   color:red;
}


.curve{
  width: 300px;
  height: 300px;
  float: left;
  shape-outside: circle();
  border-radius: 50%;
  margin: 10px;
  border-style: solid;
}

#introduction figcaption{
    text-align: left;
    vertical-align: center;
    margin: 10px 0 0 7px;
    font-size: 3.5vw;
    color: white;
}

#languages{
    height: 300px;
}

#languages .container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: #333333;
}

#languages h1{
    text-align: left;
    margin: auto;
}

#languages ul{
    width:100%;
    height: 200px;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

#languages li img{
    height: 100px;
    width: 100px;
}

#overview{
    height: 500px;
}

#overview .container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: #333333;
}

#overview h1{
    text-align: left;
    margin-left: 20px;
}


#outside-coding{
    height: 1100px;
}

#outside-coding .container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: #333333;
}

#outside-coding h1{
    text-align: left;
    margin-left: 20px;
}

.activities{
    height: 1000px;
}

.activities h2{
    margin: 20px;
    
}

.esports{
    height: 500px;
}

.rockclimbing{
    height: 500px;
}



