
html{
    overflow-x:hidden;
    width: 100%;
}

header{
    width: 100%;
}

.projects{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow-x:auto;
    margin-bottom: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color: #222222;
    margin: 40px;
}

.box h2{
    background-color: #111111;
    text-align: center;
}

.box p{
    margin: 10px;
    text-align: center;
}
