.resume{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
    width: 100%;
}

.resume img{
    height: 1100px;
    width: 45%;
    margin: 50px;
}