html{
    height:100%;
    width:100%;
    height:100%;
    background-color:black;
    opacity: .9;
    color:white
}

body{
    display: grid;
    box-sizing: border-box;
    height:100%;
    grid-template: 60px 1fr 60px / 1fr;
}

header{
    width:100%;
    display:grid;
    grid-template: 1fr / 1fr 2fr; 
    grid-row:1 / span 1;
    height: 60px;
    background-color: #333333;
}

main{
    grid-row: 2 / span 1;
    height: 100%;
}

footer{
    background-color: #333333;
    grid-row: 3 / span 1;
    height: 50px;
    width: 100%;
}

h1, h2, h3, h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 4rem;
    background-color:#333333;
}

h2{
    font-size: 3rem;
}

.red{
    color:red;
}

.p-color{
    color:#34E337;
}

ul{
    color:lightgray;
}

.tag{
    padding: 10px;
    text-align: left;
    Font-weight: bold;
    font-size:2.5rem;
    text-transform: uppercase;
}

nav{
  grid-column: 2 / span 1;
}

nav ul{
    display:flex;
    padding: 10px;
    justify-content: flex-end;
    align-items:center;
}

nav li{
    display:inline-flex;
    color:#34E337;
    margin:0 20px;
}

nav a{
    font-size: 2.5rem;
    text-decoration:none;
    color:white;
}
