html{
    height:100%;
    width:100%;
    height:100%;
    background-color:black;
    opacity: .9;
}
body{
    box-sizing: border-box;
    height:100%;
}

header{
    width:100%;
    display:grid;
    grid-template: 1fr / 1fr 2fr; 
}

ul{
    color:lightgray;
}

.tag{
    padding: 10px;
    text-align: left;
    Font-weight: bold;
    font-size:2rem;
    text-transform: uppercase;
    color:#34E337;
}

nav{
  grid-column: 2 / span 1;
}

nav ul{
    display:flex;
    padding: 10px;
    justify-content: flex-end;
    align-items:center;
    background-color:black;
}

nav li{
    display:inline-flex;
    color:#34E337;
    margin:0 20px;
}

nav a{
    font-size: 2rem;
    text-decoration:none;
    color:#34E337;
}

nav a.current-page{
    color:white;
}

nav a:hover{
    text-transform: underline;
}

#home-page main{
    height: 100%;
    display: grid;
    align-items:center;
    grid-template: 3fr 1fr 2fr /  repeat(4, 1fr);
}

#home-page p{
    color:white; 
}

#introduction{
    grid-column: 1 / span 4;
    margin:auto;
    width: 100%;
    background-color:#34E337;
}

#introduction figure{
    border-radius:25%;
}

#introduction figcaption{
    color:white;
}
