html{
    height:100%;
    width:100%;
    height:100%;
    background-color:black;
    opacity: .9;
    color:white
}

body{
    box-sizing: border-box;
    height:100%;
}

header{
    width:100%;
    display:grid;
    grid-template: 1fr / 1fr 2fr; 
}

h1, h2, h3, h4{
    color:#34E337;
}

h1{
    font-size: 3rem;
    text-align:center;
}

ul{
    color:lightgray;
}

.tag{
    padding: 10px;
    text-align: left;
    font-family:cursive;
    Font-weight: bold;
    font-size:2.5rem;
    text-transform: uppercase;
    color:#34E337;
}

nav{
  grid-column: 2 / span 1;
}

nav ul{
    display:flex;
    padding: 10px;
    justify-content: flex-end;
    align-items:center;
    background-color:black;
}

nav li{
    display:inline-flex;
    color:#34E337;
    margin:0 20px;
}

nav a{
    font-size: 2.5rem;
    text-decoration:none;
    color:#34E337;
}

nav a.current-page{
    color:white;
}

nav a:hover{
    text-transform: underline;
}

#home-page main{
    height: 100%;
    display: grid;
    align-items:center;
    grid-template: 4fr 1fr 2fr /  repeat(4, 1fr);
}

#introduction{
    grid-column: 1 / span 4;
    margin:auto;
    width: 50%;
}


#introduction img{
    height: 20vw; 
    width: 20vw; 
    border: 5px solid #34E337;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
}

.curve{
  width: 300px;
  height: 300px;
  float: left;
  shape-outside: circle();
  border-radius: 50%;
  margin: 10px;
  border-style: solid;
}

#introduction figcaption{
    text-align: left;
    vertical-align: center;
    margin: 10px 0 0 7px;
    font-size: 3.5vw;
    color: white;
}