body{
    box-sizing: border-box;
    
}

header{
    border: 1px solid black;
    background-color:#34E337;
    width:100%;
}

ul{
    color:lightgray;
}

h1{
    width:60%;
    margin:auto;
    margin-top:5px;
    text-align: center;
    Font-weight: bold;
    font-size:35px;
    text-transform: uppercase;
    color:lightgray;
    background-color: rgb(0,0,0);
}

nav ul{
    display:flex;
}

nav li{
    display:inline-flex;
    background-color:black;
    padding: 5px;
    margin: 20px;

}

nav a{
    font-size: 20px;
    cursor: pointer;
}

nav a:hover{
    text-transform: underline;
}
