body{
    box-sizing: border-box;
}

header{
    width:100%;
}

ul{
    color:lightgray;
}

h1{
    padding: 10px;
    text-align: left;
    Font-weight: bold;
    font-size:2rem;
    text-transform: uppercase;
    color:black;
    background-color:#34E337;
}

nav ul{
    display:flex;
    height: 125px;
    justify-content: space-around;
    align-items:center;
    background-color:black;
}

nav li{
    display:inline-flex;
    height: 100px;
    width: 100px;
    border-radius:50px;
    color:white;
    background-color:#34E337;
}

nav a{
    font-size: 1.5rem;
    cursor: pointer;
}

nav a:hover{
    text-transform: underline;
}
